config VIDEO_SAMSUNG
	bool "Samsung Multimedia Devices - Internal"
	depends on VIDEO_CAPTURE_DRIVERS && VIDEO_V4L2
	select VIDEO_FIXED_MINOR_RANGES
	default n
	help
	  This is a representative video4linux configuration for Samsung multimedia devices.

if CPU_EXYNOS4210
source "drivers/media/video/samsung/fimg2d/Kconfig"
endif
